@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
    $font-family-sans-serif:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
    // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
    // Windows
    "Segoe UI",
    // Android
    "Roboto",
    // Basic web fallback
    "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
    margin: 10px 50px 10px;
}

h2 {    
    color: blue;
    margin: 20px;
}

.redText {
    color: red;
}